@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}
:root {
  --Orange: #fa7312;
  --White: #ffffff;
  --Light-Grey: #959eac;
  --Medium-Grey: #7c8798;
  --Dark-Blue: #252d37;
  --Very-Dark-Blue: #121417;
}
p {
  font-size: 15px;
}
body {
  background-color: var(--Very-Dark-Blue);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 30px;
}
.card {
  padding: 20px;
  max-width: 400px;
  border-radius: 20px;
  background-color: var(--Dark-Blue);
}

.ration.opacidade-zero{
    opacity: 0;
    transition: 0.3s;
}
.ration.d-none{
    display: none;
}
.card .img-star img {
  background-color: #35404d;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card h3 {
  color: var(--White);
  font-size: 25px;
  margin: 15px 0;
}
.card p {
  color: var(--Medium-Grey);
}
.card .rating {
  display: flex;
  margin: 15px 0;
  align-items: center;
  justify-content: space-between;
}
.card .rating .rating-number {
  background: #35404d;
  padding: 15px 22px;
  border-radius: 100%;
  display: block;
  align-items: center;
  color: var(--Light-Grey);
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s;
}
.card .rating .rating-number:hover{
  background-color: var(--Light-Grey);
  color: white;
}
.card button {
  background-color: var(--Orange);
  width: 100%;
  outline: none;
  border: none;
  padding: 14px;
  margin-top: 10px;
  border-radius: 40px;
  font-size: 16px;
  color: white;
  transition: all 0.2s;
}
.card .rating-number.ativo{
    background-color: var(--Orange);
    color: white;
}
.card button:hover{
    background-color: white;
    color: var(--Orange);
    cursor: pointer;
}
/* thank */
.thank{
    text-align: center;
    display: none;
    opacity: 0;
    transition: 0.3s;
}
.thank.opacidade-1{
    opacity: 1;
}
.thank.d-block{
    display: block;
}
.thank .number-selected{
    margin: 20px auto;
    background-color: #222529;
    padding: 10px 30px;
    font-size: 16px;
    color: var(--Orange);
    border-radius: 20px;
    opacity: 0.8;
    width: fit-content;
}